@import "../../utilities/scss/utils.scss";

#eng-notebook-container {
  h1 {
    margin-bottom: 2rem;
  }

  .eng-notebook-bottom,
  .eng-notebook-top {
    text-align: left;
  }

  .eng-notebook-bottom h3,
  .eng-notebook-top h3 {
    text-align: center;
  }

  .eng-notebook-top {
    margin-bottom: 2rem;
  }

  .eng-notebook-bottom ul {
    li {
      margin-bottom: 1rem;
    }

    li p {
      margin-left: 2rem;
    }
  }

  img {
    margin: 0 auto;
    @include mq("md") {
      width: 70%;
    }
  }
}
