@import "../../../utilities/scss/utils.scss";

.dash-buttons {
  margin-bottom: 1rem;
  @include mq("sm") {
    @include flex-me($dir: row, $just: center, $wrap: wrap);
  }

  i {
    font-size: 24px;
  }
}

.dash-btn {
  border: 0.06rem solid $primary-color;
  color: $primary-color;
  flex-basis: 31%;
  margin: 0 auto;
  margin-bottom: 0.37rem;
}

.book-text {
  display: none;
}
