@import "../../../utilities/scss/utils.scss";

#stations2-container {
  h2 {
    margin-bottom: 2rem;
  }
  h4 {
    color: $gold;
    font-weight: bold;
  }

  .form-group {
    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: 95%;
    @include flex-me($dir: column, $just: center);
  }

  label {
    text-align: left;
  }

  .btns-scu {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
