@import "../../../utilities/scss/utils.scss";

#mars-container {
  iframe {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    width: 300px;
    height: 225px;
    @include mq("md") {
      width: 650px;
      height: 488px;
    }
    @include mq("lg") {
      margin-bottom: 2rem;
      width: 800px;
      height: 600px;
    }
    @include mq("xl") {
      width: 1000px;
      height: 750px;
    }
  }
}
