@import "../../../utilities/scss/utils.scss";

#csv-container {
  img {
    max-width: 50%;
    margin-bottom: 1rem;
    @include mq("md") {
      margin-bottom: 2.5rem;
    }
    @include mq("lg") {
      max-width: 30%;
    }
  }

  h1 {
    @extend %heading;
    @include mq("md") {
      margin-bottom: 1.5rem;
    }
  }

  form {
    @include flex-me($dir: column, $just: center);

    label {
      font-size: 1.25rem;
    }

    input {
      @include roundy(
        $bord: 1px solid $primary-color,
        $rad: 3px,
        $m: 0.65rem,
        $p: 0.45rem
      );
      @include mq("md") {
        width: 80%;
        align-self: center;
      }
      @include mq("lg") {
        width: 60%;
        align-self: center;
      }
    }

    .registerButton {
      @extend %btn;
      max-width: 50%;
      align-self: center;
      @include mq("md") {
        margin-top: 1rem;
        max-width: 25%;
      }
    }
  }
}
